.top-container {
  margin-top:0;
  background-color: #b2ebf2;
  text-align: center;
  position: relative;
  padding-top: 100px;
  font-size: 200%;

}
body{
  margin:0;
  text-align: center;
  font-family:'Merriweather',serif;
}
h1{
  margin:50 auto 0 auto;
  font-family:'Sacramento',cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family:'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;

}
.middle-container{

}
.bottom-container{

}
.upper-cloud{
  display:block;
  position:absolute;
  right:300px;
  top:0;

}
.lower-cloud{
  position: absolute;
}
.instalogo{
  width:30px;
  height:30px;
}
.snapchat{
  width:30px;
  height:30px;
}
.appbrewery{
  width:30px;
  height:30px;
}
.gmail{
  width:30px;
  height:30px;

}
.computer{
  width:100px;
  height:100px;
  float: left;
  padding-right: 30px;


}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.laptop{
  width:100px;
  height:100px;
  float:right;
  padding-left: 30px;

}
